doctype 5
html(lang='en')
  head
    title= NoBullying
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='NoBullying App Page')
    meta(name='author', content='Josue Bustamante y Jonathan Avendaño')
    link(rel='shortcut icon', href='images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron.css')
    link(rel='stylesheet', href='/stylesheets/css.css')
  body
    block content